<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  * Created by https://github.com/braver-tool on 12/10/21, 08:30 PM
  ~  * Copyright (c) 2021 . All rights reserved.
  ~  * Last modified 23/03/22, 09:45 AM
  ~  */
  -->

<manifest package="com.braver.tool.picker"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity
            android:name=".view.PickerActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.braver.tool.picker.CameraActivity" />
        <!--<activity
            android:name=".PreviewActivity" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>